* {
  /* border: 3px blue solid; */
}

body {
  background: linear-gradient(#044040, #E8AA33);
  height: 97vh;
}

main {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.left-header {
 width: 20%;
 height: 98vh;
 background: #044040;
 margin-left: -8px;
 margin-bottom: -7px;
 box-shadow: 20px 0px 20px 20px #044040;
 background: linear-gradient(#044040, #E8AA33);
}

.logo { 
  width: 100%;
}

h1 {
  text-align: center;
  border: 1px solid #044040;
  border-radius: -3px;
  font-size: 20px;
  color: antiquewhite;
  background: #044040;
  box-shadow: -6px -1px 20px 20px #044040c7;
}

.log-In {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.booking-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4%;
    height: 100%;
}

.card-display {
  width: 540px;
  height: 102%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}


.card-display img {
  width: 92%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px -1px 10px 6px;
  height: 70%;
}

.card-display article {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0px 0px 20px 5px #e8aa33;
  border: 35px solid #145757;
  margin-top: 40px;
  transition: transform 0.2s ease-in-out;
  margin-left: 30px;
  margin-right: 30px;
}

.card-display article:hover {
  transform: scale(1.1);
}
.trip-card-header {
  width: 100%;
  height: 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #044040;
  border: outset 5px #E8AA33;
  border-bottom: none;
}

.trip-card-location {
  margin: 0;
  font-size: 26px;
  color: antiquewhite;
  padding-bottom: 10px;
}

.trip-card-body {
  width: 100%;
  height: 47%;
  background: linear-gradient(#044040, #E8AA33);
  border: outset 5px #E8AA33;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.trip-details {
  color: antiquewhite;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.trip-cost {
  color: antiquewhite;
  font-size: 23px;
}

.buttons {
  margin-left: -25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
}

button {
  width: 70%;
  padding:5px;
  border-radius:10px;
  gap: 10px;
  font-size: 20px;
  color: antiquewhite;
  transition: transform 0.2s ease-in-out;
  background: #044040b5;
  box-shadow: 0px 0px 5px 0px #e8aa33;
}


button:hover {
  transform: scale(1.1);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  height: 100%;
  align-items: center;
}

.pending-card-display {
  height: 45%;
  width: 100%;
}

#booking-Form {
  width: 300%;
  align-items: center;
  display: flex;
  height: 54%;
  flex-direction: column;
}

.pending-trip {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  height: 45% !important;
}

.pending-header {
  height: 100%;
  border: outset 5px #E8AA33;
  border-right: none;
}

.pending-body {
  height: 100%;
  border: outset 5px #E8AA33;
  border-left: none;
}

.past-trip-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 20%;
  font-size: 20px;
}


label {
  color: antiquewhite;
  font-size: 20px;
}

select {
  width: 70%;
  padding:10px;
  border-radius:10px;
}

input {
  width: 70%;
  padding:10px;
  border-radius:10px;
}

.back-to-form-button,
.book-trip-button  {
  width: 210%;
}

.form-header {
  font-size: 30px;
  width: 275px;
  margin-bottom: 5px;
}
  
.trip-estimate-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.estimate-pic {
  width: 92%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px -1px 10px 6px;
  height: 70%;
}
  
.estimate-display-card {
  margin-top: 3%;
  width: 355px;
  height: 585px;
}

.form-pending-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 9%;
  padding-right: 40px;
}


.hidden {
  display: none;
}

.hidden-form {
   display: none;
}
